// Typography
$lato: "lato-regular", sans-serif;
$lato-bold: "lato-bold", sans-serif;


// Colors

$gradient-blue: linear-gradient(to right, #006DB7 0%, #29CED9 51%, #006DB7 100%);
$gradient-blue-dark: linear-gradient(to right, #0262A3 0%, #088ED9 51%, #0262A3 100%);
$gradient-green: linear-gradient(to right, #0EB498 0%, #0B957E 51%, #0EB498 100%);
$gradient-orange: linear-gradient(to right, #f3994b 0%, #ff5f6d 50%, #f3994b 100%);
$gradient-red: linear-gradient(to right, #D02D3B 0%, #FF5F6D 50%, #D02D3B 100%);

$gradient-hover: right center;


$blue: #006DB7;
$green: #22C0CB;

@font-face {font-family: "lato-regular";
  src: url("/fonts/LatoRegular.eot");
  src: url("/fonts/LatoRegular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/LatoRegular.woff2") format("woff2"),
  url("/fonts/LatoRegular.woff") format("woff"),
  url("/fonts/LatoRegular.ttf") format("truetype"),
  url("/fonts/LatoRegular.svg") format("svg");
  src: local('Lato');
}
@font-face {font-family: "lato-black";
  font-display: fallback;
  font-weight: normal;
  src: url("/fonts/Lato Black.eot");
  src: url("/fonts/Lato Black.eot?#iefix") format("embedded-opentype"),
  url("/fonts/Lato Black.woff2") format("woff2"),
  url("/fonts/Lato Black.woff") format("woff"),
  url("/fonts/Lato Black.ttf") format("truetype"),
  url("/fonts/Lato Black.svg") format("svg");
}
@font-face {font-family: "lato-bold";
  font-display: fallback;
  font-weight: bold;
  src: url("/fonts/Lato Bold.eot");
  src: url("/fonts/Lato Bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/Lato Bold.woff2") format("woff2"),
  url("/fonts/Lato Bold.woff") format("woff"),
  url("/fonts/Lato Bold.ttf") format("truetype"),
  url("/fonts/Lato Bold.svg") format("svg");
}

b,strong{

  &:lang(en){
    font-weight: 100;
    font-family: $lato-bold;
  }
}
//@font-face {
//    font-family: lg;
//    src: url(/fonts/lg.eot?n1z373);
//    src: url(/fonts/lg.eot?#iefixn1z373) format("embedded-opentype"),
//    url(/fonts/lg.woff?n1z373) format("woff"),
//    url(/fonts/lg.ttf?n1z373) format("truetype"),
//    url(/fonts/lg.svg?n1z373#lg) format("svg");
//    font-weight: 400;
//    font-style: normal
//}
body{
  word-break: break-word;
  letter-spacing: .5px;
  font-family: $lato;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

  &:lang(ru),
  &:lang(hy){
    letter-spacing: 0;
    font-family: sans-serif;
  }
}
.font-bold{
  font-family: $lato-bold;
  font-weight: bold;
}
.form-control:focus{
  border-color: #0375ba;
  box-shadow: none;
}
.read-more{
  color: $blue;
  font-size: 14px;
  text-decoration: none;

  &:hover{
    color: $blue;
    text-decoration: underline;
  }
}
.btn{
  font-family: $lato-bold;
  font-size: 14px;
  border-radius: 28px;
  color: #ffffff;
  min-height: 49px;
  padding: 5px 39px;
  border: none;
  word-break: keep-all;

  &:hover{
    color: #ffffff;
  }
  &:focus{
    box-shadow: none;
    border-color: #0375ba;
  }
  @media (max-width: 991px){
    min-height: 40px;
    padding: 5px 28px;
  }
  @media (max-width: 575px){
    padding: 5px 20px;
    font-size: 12px;
  }
}
a.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-blue{
  background-color: $blue;

  &:hover{
    background-color: darken($blue, 10%);
  }
}
.btn-green{
  background-color: $green;

  &:hover{
    background-color: darken($green, 10%);
  }
}
.btn-blue-gradient{
  background: $gradient-blue;
  transition: 0.5s;
  background-size: 200% auto;

  &:hover{
    background-position: $gradient-hover;
  }
}
.btn-dark-blue-gradient{
  background: $gradient-blue-dark;
  transition: 0.5s;
  background-size: 200% auto;

  &:hover{
    background-position: $gradient-hover;
  }
}
.btn-orange-gradient{
  background: $gradient-orange;
  transition: 0.5s;
  background-size: 200% auto;

  &:hover{
    background-position: $gradient-hover;
  }
}
.btn-red-gradient{
  background: $gradient-red;
  transition: 0.5s;
  background-size: 200% auto;

  &:hover{
    background-position: $gradient-hover;
  }
}
.btn-green-gradient{
  background: $gradient-green;
  transition: 0.5s;
  background-size: 200% auto;

  &:hover{
    background-position: $gradient-hover;
  }
}
.p-0-15{
  padding: 0 15px;
}
.no-wrap{
  white-space: nowrap;
}

i[class*="arrow"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.25rem solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  text-indent: -624.9375rem;
  transform: rotate(225deg);
  border-color: #989797;
}