.navigation{

    @media (max-width: 1199px) {
        background-color: #F2F2F4;
    }
}

.home-head-container{
    max-width: 830px;
    padding: 0 15px;
    margin: 4.2vw auto 0;

    @media (max-width: 767px){
        margin: 10vw auto 0;
    }
    h1{
        font-size: calc(31px + 1vw);
        margin-bottom: 22px;

        @media (max-width: 767px){
            font-size: 34px;

            &:lang(ru),
            &:lang(hy){
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
    p{
        margin-bottom: 3vw;

        @media (max-width: 767px){
            margin-bottom: 20px;
            font-size: 15px;

            &:lang(ru),
            &:lang(hy){
                margin-bottom: 30px;
            }
        }
    }
}
.home-head-form{
    height: 49px;
    max-width: 580px;
    margin: 0 auto;

    .form-control{
        border-radius: 28px 0 0 28px;
        border-color: #989797;
        border-right: none;
        padding: 0.375rem 1rem;
        letter-spacing: .5px;

        &:focus{
            border-color: #0375ba;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
               &::placeholder{
                   font-size: 12px;
               }
            }
        }
    }
    .btn{
        white-space: nowrap;
        border-radius: 0 28px 28px 0;

        @media (max-width: 767px){
            padding: 5px 15px;
        }
    }
}
.home-head-img{
    margin-top: calc(-25vw + 195px);
    z-index: -1;

    @media (max-width: 991px){
        margin-top: calc(-30vw + 195px);
    }
    @media (max-width: 575px){
        margin-top: calc(-20vw + 100px);
    }
}

.home-resume-section-container{
    max-width: 1257px;
    margin: 0 auto;
    padding: 42px 0;

  @media (max-width: 1499px){
    max-width: 980px;
      padding: 42px 15px;
  }

  @media (max-width: 991px){
        padding: 25px 0 65px;
        flex-direction: column;
        max-width: 570px;

        .p-0-15{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }
    h2{
        font-size: 34px;
        margin-bottom: 1.9vw;

        @media (max-width: 575px){
            font-size: 28px;
            margin-bottom: 10px;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
    p{
        line-height: 1.9;
        margin-bottom: 2vw;

        @media (max-width: 575px){
            line-height: 1.6;
            margin-bottom: 30px;
        }
    }
}
.home-resume-left{
    padding: 0 15px;
    max-width: 550px;
    margin-top: 15px;

    @media (max-width: 991px){
        max-width: inherit;
        margin-bottom: 30px;
    }
    @media (max-width: 575px){
        margin-top: 0;
    }
}
.home-resume-bg{
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    object-fit: cover;
}
.home-post{
    max-width: 1360px;
    margin: 0 auto;
    padding: 62px 0 40px;

    @media (max-width: 991px){
        flex-direction: column;
        max-width: 570px;
    }
}
.home-post-right{
    padding: 0 15px;
    max-width: 567px;

    @media (max-width: 991px){
        max-width: inherit;
        margin-top: 30px;
    }
    h2{
        font-size: 34px;
        margin-bottom: 1.9vw;

        @media (max-width: 575px){
            font-size: 28px;
            margin-bottom: 20px;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
    p{
        line-height: 1.9;
        margin-bottom: 2vw;

        @media (max-width: 575px){
            line-height: 1.6;
            margin-bottom: 30px;
        }
    }
}
.home-education{
    padding: 104px 15px 121px;
    max-width: 757px;
    margin: 0 auto;

    @media (max-width: 991px){
        padding: 40px 15px 0;
    }
    h2{
        font-size: 34px;
        margin-bottom: 1.9vw;

        @media (max-width: 575px){
            font-size: 28px;
            margin-bottom: 20px;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
    p{
        line-height: 1.9;
        margin-bottom: 2vw;

        @media (max-width: 575px){
            line-height: 1.6;
            margin-bottom: 30px;
        }
    }
    .btn{
        margin: 0 10px;

        @media (max-width: 575px){
            margin: 2px;
        }
    }
}
.home-education-bg{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-articles{
    margin-top: 7.7vw;
    margin-bottom: 7.5vw;

    @media (max-width: 575px){
        margin-top: 50px;
        margin-bottom: 14vw;
    }
    h2{
        font-size: 34px;

        @media (max-width: 575px){
            font-size: 28px;
            margin-bottom: 20px;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
}

.home-articles-slider{
    max-width: 1575px;
    margin: 38px auto 0;

    @media (max-width: 767px){
        margin: 0 auto 0;
    }
    *:focus{
        outline: none;
    }
    .slick-initialized .slick-slide{
        padding: 25px;

        @media (max-width: 991px){
            padding: 15px;
        }
        @media (max-width: 767px){
            padding: 10px;
        }
    }
    .slick-prev, .slick-next{
        top: 44%;
    }
}
.home-articles-slider-container{
    padding: 0 58px;
    
    @media (max-width: 991px) {
        padding: 0 45px;
    }
    @media (max-width: 767px) {
        padding: 0 30px;
        max-width: 520px;
        margin: 0 auto;
    }
}
.home-articles-slider-item{
    color: #000000;
    display: block;
    border-radius: 10px;
    transition: all .1s;

    &:hover{
        color: #000000;
        text-decoration: none;
        transform: scale(1.08);
        transition: all .18s;

        .item-hover{
            box-shadow: 0 3px 6px #B9B9B9;
        }
        .read-more{
            text-decoration: underline;
        }
    }
    img,
    .item-hover{
        border-radius: 10px;
    }
    img{
        object-fit: cover;
        
        @media (max-width: 767px) {
            height: calc(74.3vw - 80px);
            max-height: 294px;
        }
    }
    .read-more{
        margin-top: 18px;
    }
}
.home-articles-slider-text{
    background-color: rgba(255, 255, 255, 0.73);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 19px 15px;
    border-radius: 0 0 10px 10px;

    @media (max-width: 991px){
        padding: 12px 15px;
    }
    @media (max-width: 575px){
        padding: 10px;
    }
    h3{
        font-size: 18px;
        overflow: hidden;
        max-height: 43px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */

        @media (max-width: 991px){
            font-size: 16px;
        }
    }
    p{
        overflow: hidden;
        max-height: 54px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */

        @media (max-width: 991px){
            font-size: 14px;
        }
        @media (max-width: 575px){
            font-size: 13px;
        }
    }
}

.home-people{
    margin-bottom: 77px;

    h2{
        font-size: 34px;
        padding-top: 1.7vw;

        @media (max-width: 575px){
            font-size: 28px;
        }
        &:lang(ru),
        &:lang(hy){
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
}
.home-people-slider-container{
    margin-top: 7.4vw;

    *:focus{
        outline: none;
    }
    .slick-slide{
        //width: 380px !important;
        height: 280px;

        @media (max-width: 575px){
            //width: inherit!important;
            //padding: 18px 25px;
        }
    }
    .slick-track{
        //display: flex;
        //margin: 0;
        //justify-content: center;
        //width: 100%!important;
    }
    .slick-prev{
        left: 5px;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev, .slick-next{
        background-color: #ffffff;
        border: solid 1px #6c757d;
        width: 35px;
        height: 35px;

        &:before{
            border-width: 0 2px 2px 0;
            padding: 5px;
            margin-left: 5px;
        }
    }
}
.home-people-slider-item{
    border-radius: 10px;
    padding: 22px;
    color: #000000;
    width: 344px;
    height: 229px;
    background-color: #ffffff;
    border: solid 1px #C1C1C1;
    display: block;
    transition: all .1s;

    &:hover{
        text-decoration: none;
        color: #000000;
        transform: scale(1.14);
        box-shadow: 0 3px 6px #B9B9B9;
        transition: all .18s;

        .read-more{
            text-decoration: underline;
        }
    }

    @media (max-width: 575px){
       width: 270px;
    }

    img{
        border-radius: 50%;
        width: 67px;
        height: 67px;
        margin-right: 14px;
        object-fit: cover;
        border: solid 1px #707070;
    }
    h4,h5{
        font-size: 14px;
    }
    h4{
        color: #006DB7;
        margin-top: 6px;
        max-height: 34px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
    }
    h5{
        color: #6F6F6F;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        margin-top: 11px;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px;
        overflow: hidden;
        max-height: 65px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
    }
}
.home-people-info{
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
}
.people-slider-bg{
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    object-fit: cover;

    @media (max-width: 991px){
        top: 5px;
        height: 30vw;
        object-position: left;
    }
    @media (max-width: 575px){
        top: 0;
        height: 45vw;
    }
}
#success_tic .page-body,
.success-modal .page-body{
    max-width: 300px;
    background-color: #FFFFFF;
    margin: 10% auto;
}

#success_tic .page-body .head,
.success-modal .page-body .head {
    text-align: center;
}

#success_tic .close,
.success-modal .close {
    opacity: 1;
    position: absolute;
    right: 0;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

#success_tic .checkmark-circle,
.success-modal .checkmark-circle {
    width: 130px;
    height: 130px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #22c0cb;
    position: absolute;
    left: 0;
}

#success_tic .checkmark-circle .checkmark,
.success-modal .checkmark-circle .checkmark {
    border-radius: 5px;
}

#success_tic.show .checkmark-circle .checkmark.draw:after,
.success-modal.show .checkmark-circle .checkmark.draw:after {
    animation-delay: 300ms;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
    animation-fill-mode: forwards;
}

#success_tic.show .checkmark-circle .checkmark:after,
.success-modal.show .checkmark-circle .checkmark:after {
    opacity: 0;
    height: 75px;
    width: 37.5px;
    transform-origin: left top;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 28px;
    top: 70px;
    position: absolute;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}


.body-ie{

    a.btn{
        line-height: 39px;
    }
    .home-resume-section{
        background-color: #f2f2f4;
    }
    .wrap{
        display: block;
    }
    .home-people-info{
        width: 220px;
    }
}