$lato: "lato-regular", sans-serif;
$lato-bold: "lato-bold", sans-serif;
$lato-black: "lato-black", sans-serif;
$blue: #006DB7;
$green: #22C0CB;

a {
  color: #006DB7;
}

.wrap {
  .form-control{
    &:lang(ru) ,
    &:lang(hy){
      font-size: 14px;

      @media (max-width: 767px){
        font-size: 13px;
      }
    }
  }
  @media (max-width: 991px) {
    padding-top: 46px;

    .form-control{
      font-size: 14px;
    }
  }
}

.body-overflow{
  overflow: hidden;
  position: fixed;
}

.add-input {
  color: #707070;
  background-color: #ffffff;
  border: none;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin-bottom: 18px;

  &:before, &:after {
    background-color: #707070;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: #006DB7;

    &:before, &:after {
      background-color: #006DB7;
    }
  }
}

.navigation {
  background-color: #F2F2F4;
  z-index: 2;

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
  }
}

.form-container {
  margin-top: 54px;
  max-width: 1340px;
  min-height: 24vw;

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.title-h1 {
  font-size: 34px;
  margin-bottom: 58px;

  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.max-445 {
  max-width: 445px;
}

.dynamic-added {

  .btn-danger {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    padding: 5px 20px;
    min-height: 49px;
  }

  input {
    padding-right: 50px;

    &::placeholder {
      color: black;
      padding-left: 15px;
    }
  }
}

.dynamic-added-block {
  border-top: solid 1px #016fb8;
  padding-top: 42px;

  .btn-danger {
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 18px;

  span[role="alert"] {
    font-size: 80%;
    color: #dc3545;
  }
  .select2-container {
    width: 100% !important;

    input {
      min-height: inherit;
      margin-top: 0 !important;
    }
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    min-height: 49px;
    border: solid #0273b9  1px;
  }
  .select2-container--default.select2-container--below .select2-selection{
    border-color: #0273b9;
  }
  .select2-container--default .select2-selection--multiple {
    min-height: 49px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 8px 33px 3px 8px;
    background-image: linear-gradient(45deg, transparent 50%, #646464 50%), linear-gradient(135deg, #646464 50%, transparent 50%);
    background-position: calc(100% - 24px) calc(1em + 4px), calc(100% - 19px) calc(1em + 4px), calc(100% - 2.5em) 0.5em;
    background-size: 7px 6px, 5px 6px, 1px 1.5em;
    background-repeat: no-repeat;
  }
  .select2-container--focus .select2-selection--multiple .select2-selection__rendered{
    background-image: linear-gradient(45deg, #006DB7 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #006DB7 50%);
    background-position: calc(100% - 16px) 19px, calc(100% - 22px) 19px, calc(100% - 2.5em) 0.5em;
    background-size: 7px 6px, 7px 6px, 1px 1.5em;
  }
}

.form-group .control-label {
  position: absolute;
  top: 12px;
  left: 18px;
  margin: 0;
  pointer-events: none;
  padding: 0 8px;
  z-index: 1;
  color: #a7a7a7;
  font-size: 16px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  max-width: 94%;
  border-radius: 3px;
  text-overflow: ellipsis;
  transition: all 0.2s ease;

  &:lang(ru),
  &:lang(hy){
    font-size: 14px;
    left: 8px;
  }
  @media (max-width: 991px) {
    left: 4px;
    font-size: 14px;
  }
}

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 49px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #646464 50%), linear-gradient(135deg, #646464 50%, transparent 50%);
  background-position: calc(100% - 24px) calc(1em + 4px), calc(100% - 19px) calc(1em + 4px), calc(100% - 2.5em) 0.5em;
  background-size: 7px 6px, 5px 6px, 1px 1.5em;
  background-repeat: no-repeat;
  background-color: #ffffff;
  line-height: 1.3;
  box-shadow: none;
  border-radius: 5px;
  border: solid 1px #989797;
  padding: 13px 10px;
  padding-right: 38px;

  &:lang(ru),
  &:lang(hy){
    font-size: 15px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &:focus {
    background-image: linear-gradient(45deg, #006DB7 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #006DB7 50%),;
    background-position: calc(100% - 16px) 19px, calc(100% - 22px) 19px, calc(100% - 2.5em) 0.5em;
    background-size: 7px 6px, 7px 6px, 1px 1.5em;
    border-color: #006DB7;
    outline: 0;
  }

  + .control-label {
    max-width: calc(100% - 50px);

    &:lang(ru),
    &:lang(hy){
      max-width: calc(100% - 40px);
    }
  }
}

.form-group input,
.form-group textarea {
  display: block;
  background: #ffffff none;
  padding: 0.125rem 0.125rem 0.125rem 10px;
  font-size: 1rem;
  min-height: 49px;
  border: solid 1px #989797;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: none;

  &:lang(ru),
  &:lang(hy){
    font-size: 15px;

    @media (max-width: 767px){
      font-size: 14px;
    }
  }
}

.form-group textarea {
  line-height: 1;
  padding-top: 10px;
  color: black;
  min-height: 49px;
  overflow: hidden;
  resize: none;
}
.form-group .cke_chrome{
  border-color: #989797;
  border-radius: 5px;
}
.form-group .cke_focus{
  border-color: #006DB7;
}
.form-group .cke_inner, .form-group .cke_contents{
  border-radius: 5px;
}
.form-group .cke_top{
  border-radius: 5px 5px 0 0;
}
.form-group .cke_bottom{
  border-radius: 0 0 5px 5px;
}

.form-group input:not([type=number])::-webkit-inner-spin-button {
  margin: 9px 5px 0 5px;
}

//.form-group select:focus,
//.form-group select:valid,
//.form-group-email input,
//.form-group input:focus,
//.form-group input[value]:not([value=""]),
//.form-group input:valid:not([data-required="no"]),
//.form-group input:valid,
.form-group input.form-file,
.form-group select.form-file,
.form-group input.date-style:valid,
//.form-group input.has-value,
//.form-group textarea:focus,
//.form-group textarea[required]:valid,
//.form-group.value-active textarea[data-required="no"],
.form-group textarea.form-file
//.form-group textarea.has-value,
//.form-group.value-active input
{
  color: #333;
  border-color: #006DB7;
}

//.select2-container--open ~ .control-label,
//.select2-hidden-accessible:valid ~ .control-label,
//.form-group-email input ~ .control-label,
//.form-group select:focus ~ .control-label,
//.form-group select:valid ~ .control-label,
//
//.form-group input:focus ~ .control-label,
//.form-group input[value]:not([value=""]) ~ .control-label,
////.form-group input:valid:not([data-required="no"]) ~ .control-label,
//.form-group input:valid ~ .control-label,
//.form-group input[autocomplete="current-password"] ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.date-style:valid ~ .control-label,
.form-group input[type="file"] ~ .control-label,
.form-group select.form-file ~ .control-label,
.form-group .no-form-style ~ .control-label,
//.form-group input.focus ~ .control-label
//.form-group input.has-value ~ .control-label,
//.form-group textarea:focus ~ .control-label,
//.form-group textarea:valid:not([data-required="no"]) ~ .control-label,
.form-group textarea.form-file ~ .control-label
//.form-group textarea.has-value ~ .control-label,
//.form-group.value-active input ~ .control-label,
//.form-group.value-active textarea ~ .control-label
{
  font-size: 14px;
  color: gray;
  top: -10px;
  left: 20px;
  background-color: #fff;

  &:lang(ru),
  &:lang(hy){

      font-size: 13px;
      left: 15px;

    @media (max-width: 575px) {
      font-size: 12px;
      left: 10px;
    }
  }
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #006DB7;
}

.form-group .is-invalid ~ .invalid-feedback {
  display: block;
}

.form-group .is-invalid:focus {
  border-color: #dc3545;
}

.form-group .is-invalid:focus ~ .control-label {
  color: #dc3545;
}

.checkbox, .radio {
  margin-bottom: 5px;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
  margin: 0;

  @media (max-width: 991px) {
    font-size: 14px;
    padding-top: 2px;
  }
}

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  user-select: none;
  color: #999;
}

.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  margin: 0.25rem;
  width: 19px;
  height: 19px;
  transition: transform 0.2s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}

.radio .helper::after {
  transform: scale(0);
  background-color: #006DB7;
  border-color: #006DB7;
}

.radio label:hover .helper {
  color: #006DB7;
}

.radio input:checked ~ .helper::after {
  transform: scale(0.5);
}

.radio input:checked ~ .helper::before {
  color: #006DB7;
}

.checkbox .helper {
  color: #999;
  position: absolute;
  top: 4px;
  left: 0;
  width: 19px;
  height: 19px;
  z-index: 0;
  border-radius: 3px;
  border: 1px solid currentColor;
  transition: border-color 0.2s ease;
}

.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #006DB7;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  transition: opacity 0.2s ease, height 0s linear 0.2s;
  opacity: 0;
}

.checkbox .helper::before {
  top: 14px;
  left: 8px;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}

.checkbox .helper::after {
  top: 8px;
  left: 1px;
  transform: rotate(-45deg);
}

.checkbox label:hover .helper {
  color: #006DB7;
}

.checkbox input:checked ~ .helper {
  color: #006DB7;
}

.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  transition: height 0.2s ease;
}

.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}

.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  transition-delay: 0.2s;
}

.checkbox-agree {
  margin-bottom: 43px;

  p {
    margin-left: 28px;
    font-size: 14px;
  }

  .star {
    font-size: 16px;
  }
}

.input-file {
  border: solid 1px #989797;
  border-radius: 5px;
  margin-bottom: 18px;
  height: 49px;
  display: flex;
  align-items: center;

  input[type="file"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .btn {
    background-color: #006db7;
    border-radius: 5px 0 0 5px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 16px;
    font-family: $lato;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 10%);
    }

    @media (max-width: 991px) {
      padding: 5px 12px;
      font-size: 14px;
    }
  }

  .file-selected {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.z-index-1 {
  z-index: 1;
}

.register-bg {
  position: absolute;
  top: 10vw;
}

.register-wave {
  margin-top: -11.5vw;

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.job-search-header {
  background: linear-gradient(to bottom, #29ced9 0%, #006db7 100%);
  position: relative;
  padding: 38px 15px 15px;
  margin-bottom: 86px;

  @media (min-width: 768px) and (max-width: 991px){
    padding: 14px 15px 15px;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    margin-bottom: 0;
    position: fixed!important;
    top: 46px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    transition: height 0.3s;
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;

    &.job-search-header-opened {
      height: 315px;
      padding: 60px 15px 0;
      z-index: 5;
      margin-bottom: 20px;
      opacity: 1;
    }
  }
}

.job-search-form {
  max-width: 1290px;

  @media (min-width: 768px) and (max-width: 991px){
    justify-content: center;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
  .form-group.flex-grow-1{

    @media (min-width: 768px) and (max-width: 991px){
      width: 100%;
      margin-top: 5px;

      input{
        border-radius: 28px 0 0 28px;
      }
    }
  }
  input {
    border-radius: 0;
    border-color: #ffffff !important;
    height: 49px;
    padding-left: 28px;
    padding-right: 8px;

    &::placeholder {
      color: #646464;
    }

    @media (max-width: 1499px) {
      padding-left: 12px;
    }
    @media (max-width: 767px) {
      border-radius: 5px;
      height: 40px;
      min-height: 40px;
    }
  }

  .form-group {
    margin: 0 4px;

    @media (max-width: 767px) {
      margin: 0 0 8px;

      .select2-container .select2-selection--single{
        height: 40px;
      }
      .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 40px;
      }
    }
  }

  .btn {
    border-radius: 0 28px 28px 0;
    white-space: nowrap;


    &:lang(ru),
    &:lang(hy){
      padding: 5px 20px;
    }
    @media (max-width: 767px) {
      border-radius: 5px;
      margin-top: 15px;
      font-size: 16px;
    }
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
    height: 100%;
    padding-left: 23px;
    padding-right: 30px;
    font-size: 16px;
    color: #646464;

    @media (max-width: 767px){
      line-height: 39px;
    }
    &:lang(ru),
    &:lang(hy){
      font-size: 15px;

      @media (max-width: 767px){
        font-size: 13px;
      }
    }
    @media (max-width: 1499px) {
      padding-left: 12px;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #646464;
  }

  .select2-container--default {
    & *:focus {
      outline: none;
    }
  }

  .select2-container--default .select2-selection--single {
    height: 49px;
    border-radius: 0;
    border-color: #ffffff;

    @media (max-width: 767px) {
      border-radius: 5px;
      height: 40px;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
    right: 8px;
    width: 24px;

    @media (max-width: 767px){
      height: 40px;
      right: 5px;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #646464 transparent transparent transparent;
    border-width: 7px 6px 0 6px;
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-color: #16a4bf;
  }
}

.select2-container--open .select2-dropdown--below {
  border-color: #16a4bf;
}

.select2-container.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0273b9;
}

.select2-results__option{
  font-size: 15px;
}
.form-group-types {
  width: 22%;
  max-width: 250px;

  @media (min-width: 768px) and (max-width: 991px){
    width: calc(33.33% - 4px);
    max-width: inherit;

    > .select2-container--default .select2-selection--single{
      border-radius: 0 28px 28px 0;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: inherit;
  }
}

.form-group-category {
  width: 22%;
  max-width: 255px;

  @media (min-width: 768px) and (max-width: 991px){
    width: calc(33.33% - 8px);
    max-width: inherit;
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: inherit;
  }

  .select2-container .select2-selection--single {
    border-radius: 28px 0 0 28px;

    @media (max-width: 767px) {
      border-radius: 5px;
    }
  }
}

.job-search-wave {
  width: 100%;
  height: 126px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;

  @media (max-width: 767px) {
    display: none;
  }
}

.open_job-left {
  position: sticky;
  top: 46px;
  background-color: #f58e51;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 28px;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0 3px 5px;
  display: block;
  z-index: 2;

  @media (min-width: 768px) {
    display: none!important;
  }
}


.job-container {
  max-width: 1320px;
  user-select: none;
}
.can-copy .job-container{
  user-select: inherit;
}
.job-left {
  width: calc(39.15% + 8px);
  height: 96vh;
  overflow: auto;
  position: sticky;
  top: 17px;
  padding-right: 8px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #848484;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  @media (max-width: 991px) {
    width: calc(45% + 3px);
    padding-right: 3px;
    top: 60px;

    &::-webkit-scrollbar {
      width: 7px;
    }
  }
  @media (max-width: 767px) {
    //position: fixed;
    //top: 46px;
    //left: 0;
    //width: 100%;
    //background-color: #fff;
    //height: 0;
    //z-index: 2;
    //transition: height 0.3s;
    //padding: 0;
    width: 100%;
    margin-bottom: 20px;
    height: 258px;
    position: static;
    padding-right: 0;

    //&.job-left-opened {
    //  height: calc(var(--vh, 1vh) * 100);
    //  padding: 60px 15px;
    //  z-index: 5;
    //}
  }
}

.close_job-left {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 46px;
  left: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.42) 0 5px 9px;
  transition: left 0.3s;
  display: none;
  text-transform: uppercase;
  border-radius: 0;
  padding: 9px 28px;

  @media (min-width: 768px) {
    display: none!important;
  }
}

.job-item {
  margin-bottom: 16px;
  border: solid 1px #C3C3C3;
  border-radius: 5px;
  color: #000000;
  height: 90px;
  width: 100%;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #000000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  &.job-item-active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-color: #006eb7;
  }
  @media (max-width: 991px) {
    height: 74px;
  }

   picture {
    border-radius: 5px 0 0 5px;
    width: 112px;
    height: 100%;
    display: block;
    padding: 5px 7px;

     img{
       width: 100%;
       height: 100%;
       object-fit: contain;
     }
    @media (max-width: 991px) {
      width: 90px;
    }
  }
}


.job-item-info {
  border-left: solid 1px #C3C3C3;
  padding: 12px 15px 10px 13px;
  width: calc(100% - 112px);

  @media (max-width: 991px) {
    padding: 9px 10px 8px 10px;
    width: calc(100% - 90px);
  }
}

.job-item-info-text {
  min-width: 0;
  padding-right: 5px;

  h5 {
    font-size: 16px;
    font-family: $lato-bold;
    font-weight: bold;
    margin: 0 0 9px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    line-height: 1.2;

    @media (max-width: 991px) {
      font-size: 14px;
    }
  }

  h6 {
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 991px) {
      font-size: 12px;
    }
  }
}

.job-item-info-date {

  span {
    color: #858686;
    font-size: 12px;
    font-family: $lato-bold;
    white-space: nowrap;

    @media (max-width: 991px) {
      font-size: 11px;
    }
  }
}

.job-right {
  width: 59%;
  max-width: 770px;
  border: solid 1px #d4d4d4;
  border-radius: 5px 28px 28px 5px;
  position: relative;

  @media (max-width: 991px) {
    width: 53%;
  }
  @media (max-width: 767px) {
    width: 100%;
    border-radius: 0;
    background-color: #ffffff;
    z-index: 1;
  }

  .table {
    width: auto;
    margin: 14px 24px;

    @media (max-width: 991px) {
      margin: 10px 10px;
    }

    th, td {
      border: 0;
      font-size: 14px;
      word-break: keep-all;
      padding: 5px 26px 5px 5px;

      @media (max-width: 991px) {
        font-size: 13px;
        padding: 5px 15px 5px 5px;
      }
    }

    th {
      font-family: $lato-bold;
    }
  }
}

.job-right-title {
  background: linear-gradient(to bottom, rgba(0, 109, 183, 1) 0%, rgba(41, 206, 217, 1) 100%);
  padding: 20px 28px 15px 20px;
  color: #ffffff;
  border-radius: 5px 28px 5px 5px;
  position: sticky;
  top: 0;

  @media (max-width: 991px) {
    padding: 12px 15px 12px 20px;
    border-radius: 5px 20px 5px 5px;
  }
  @media (max-width: 767px) {
    border-radius: 0;
    padding: 30px 10px 12px 15px;
    top: 64px;
    z-index: 1;
  }

  .btn {
    white-space: nowrap;
    min-height: inherit;
    cursor: pointer;

    @media (max-width: 575px){
      &:not(.btn-orange-gradient){
        padding-right: 0!important;
      }
    }
  }
  h1 {
    font-size: 22px;
    padding: 0 10px 10px 0;

    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
}

.job-share-this {
  padding: 10px 29px 21px;

  @media (max-width: 991px) {
    padding: 10px 15px 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.job-share-links {

  a {
    margin: 0 7px;
    color: #484848;

    &:hover {
      text-decoration: none;
      color: #28cdd9;
    }
  }

  svg {

    path {
      fill: currentColor;
    }
  }
}

.job-tab {
  border-top: solid 1px #cfcfcf;
  border-bottom: solid 1px #cfcfcf;
  padding: 0 16px;

  .nav-link {
    font-family: $lato-bold;
    color: #181818;
    border-bottom: solid 2px transparent;
    border-radius: 0;
    padding: 0.7rem 0.3rem;
    margin: 0 10px;
    font-weight: bold;

    @media (max-width: 575px) {

      &:lang(hy){
        font-size: 14px;
        margin: 0 5px;
      }
    }
    &.active {
      background-color: #ffffff;
      color: #006DB7;
      border-color: #006DB7;
    }
  }
}

.job-tab-content {
  padding: 4px 31px;
  line-height: 1.4;

  @media (max-width: 991px) {
    padding: 15px;
  }

  h4 {
    font-size: 16px;
    margin: 0;
  }
  p{
    margin-bottom: 0;
  }
}


.left-menu {
  width: 354px;
  background-color: #035186;
  color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding-bottom: 60px;
  overflow: hidden;
  overflow-y: auto;

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 290px;
  }
  @media (max-width: 991px) {
    position: fixed;
    width: 45px;
    top: 46px;
    left: 0;
    height: calc(var(--vh, 1vh) * 100 - 46px);
    z-index: 2;
    transition: all .3s;

    &.profile-menu-opened {
      width: 350px;
      transition: all .3s;
    }
    &.profile-menu-scroll {
      position: absolute;
      top: inherit;
      bottom: 0;
    }
  }
  @media (max-width: 575px){

    &.profile-menu-opened {
      width: 95%;
      min-width: 320px;
      max-width: 350px;
    }
  }
}

@media (max-width: 991px) {
  .left-menu:not(.profile-menu-opened) {

    .profile-user-info {
      padding: 8px;
      white-space: nowrap;

      label.cabinet {
        transform: scale(.5);
        transform-origin: 0;
        transition: all 0.3s;
      }

      h6 {
        font-size: 0;
        white-space: nowrap;
      }
    }

    .collapse {
      height: 0;
      overflow: hidden;
    }

    .menu-nav {

      .nav-link {
        padding: 13px 10px 13px 11px;

        &[data-toggle="collapse"] {
          pointer-events: none;
        }
      }
    }
  }
}

.profile-user-info {
  padding: 15px 15px 15px 33px;
  background-color: #014A7C;
  transition: all .3s;

  @media (max-width: 991px) {
    padding: 10px 10px 10px 25px;
    margin-top: 3px;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  h6 {
    font-size: 18px;
    flex: 1 0;
    margin-bottom: 0;
    transition: all .3s .3s;
  }
}

.menu-nav {
  padding-top: 40px;

  @media (max-width: 991px) {
    padding-top: 10px;
  }

  .nav-item
  {
    margin: 3px 0;

    @media (max-width: 991px) {
      margin: 0;
    }

    .collapse-ul {
      background-color: #014A7C;
      padding-left: 70px;
      padding-top: 0;
      padding-bottom: 15px;
      flex-wrap: nowrap;


      @media (min-width: 1200px) {
        &:lang(ru),
        &:lang(hy){
          padding-left: 52px;
        }
      }
      @media (max-width: 1199px) {
        padding-left: 40px;
        padding-top: 5px;
        padding-bottom: 20px;
      }

      .menu-nav {
        padding-top: 0;

        .nav-item {

          &:first-child {
            margin-top: -2px;
          }
        }
      }

      .nav-link {
        padding: 10px 10px 10px 11px;
        font-size: 13px;
        display: flex;
        align-items: baseline;

        @media (max-width: 1199px) {
          font-size: 12px;
        }

        > span {
          font-size: 22px;
          margin-right: 14px;
          line-height: 0;

          @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 15px;
            margin-right: 10px;
          }
          @media (max-width: 991px){
            font-size: 16px;
            margin-right: 10px;
          }
        }

        &:hover, &.active {
          background-color: #034572;
        }
      }
    }
  }

  .nav-link {
    color: #ffffff;
    font-family: $lato-bold;
    font-size: 14px;
    padding: 13px 10px 13px 34px;
    transition: all .3s;

    &[aria-expanded="true"] {
      background-color: #014A7C;
    }

    &:hover, &.active {
      background-color: #014A7C;
    }

    @media (max-width: 1199px) {
      padding: 13px 10px 13px 15px;
    }
    @media (max-width: 991px){
      white-space: nowrap;
    }

    > div {
      margin-right: 1vw;
      width: 27px;

      @media (max-width: 991px) {
        margin-right: 16px;
      }
      @media (max-width: 575px) {
        margin-right: 11px;
      }
      img {
        width: 22px;
      }
    }
  }
}

.profile-container {
  width: calc(100% - 354px);

  @media (max-width: 1499px) {
    .row{
      margin-left: -10px;
      margin-right: -10px;

      .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: calc(100% - 290px);
  }
  @media (max-width: 991px) {
    width: calc(100% - 45px);
    min-height: 100vh;
  }
}

.profile-tab {
  border-bottom: solid 1px #006DB7;

  @media (max-width: 991px){
    .nav-item{
      flex-grow: 1;
    }
  }
  .nav-link {
    border-radius: 0;
    font-family: $lato-bold;
    text-align: center;
    font-size: 14px;
    color: #343434;
    padding: 1rem;

    &.active {
      background-color: #006DB7;
      color: #ffffff;
    }

    &:hover:not(.active) {
      background-color: #0065ad;
      color: #ffffff;
    }

    @media (min-width: 992px){
      min-width: 220px;
    }
    @media (max-width: 991px) {
      width: inherit;
      padding: .7rem 1rem;
    }
  }
}

.profile-tab-content {
  padding: 47px 15px 20px 2.8vw;
  max-width: 1416px;

  @media (min-width: 1300px) and (max-width: 1399px) {
    padding: 47px 15px 20px 15px;
  }
  @media (max-width: 1299px) {
    padding: 15px 15px 20px 15px;
  }
}

.mb-input {
  margin-bottom: 18px;

  .input-file {
    margin-bottom: 0;
  }
}

.input-help {
  font-size: 14px;
  color: #646464;
  line-height: 1.2;
  display: inline-block;
}

.open_close-menu {
  width: 31px;
  height: 38px;
  display: inline-block;
  left: 7px;
  z-index: 1000;
  transition: left 0.3s;
  position: sticky;
  top: 0;
  background-color: #035186;

  @media (min-width: 992px) {
    display: none;
  }
}

.open_close-menu.active {
  left: 88%;
}

.open_close-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: #ffffff;
  width: 30px;
  left: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.open_close-menu i:nth-child(1) {
  top: 10px;
}

.open_close-menu i:nth-child(2) {
  top: 19px;
}

.open_close-menu i:nth-child(3) {
  top: 28px;
}

.open_close-menu.active i:nth-child(1) {
  top: 25px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.open_close-menu.active i:nth-child(2) {
  background: transparent;
}

.open_close-menu.active i:nth-child(3) {
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.bg-grey {
  background-color: #F2F2F4;
}

.profile-search-form {
  max-width: 325px;

  .form-control {
    border: none;
    height: 49px;
    padding-right: 45px;
    border-radius: 5px;

    &::placeholder {
      color: #919191;
    }

    @media (max-width: 991px) {
      height: 40px;
    }
  }

  .btn {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 0;
    height: 100%;
    min-height: inherit;
  }
}

.profile-table {
  padding: 15px 15px 20px 1.6vw;
  max-width: 1313px;

  .table-responsive {
    margin-top: 13px;
  }

  tbody {
    tr {

      &:hover {
        background-color: rgba(0, 109, 183, 0.11);

        td {
          background-color: transparent;
        }
      }
    }
    td {
      background-color: #ffffff;
      border: none;
      border-bottom: solid 5px #f2f2f4;
      padding: 12px 5px 13px 10px;
      word-break: initial;
      vertical-align: middle;

      &:first-child {
        border-radius: 10px 0 0 10px;
        padding-left: 1.2vw;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
        width: 150px;
      }

      @media (max-width: 991px) {
        font-size: 14px;
      }
      &:lang(ru),
      &:lang(hy){
        font-size: 14px;
      }
    }


    tr:first-child td:first-child {
      border-radius: 0 0 0 10px;
    }

    tr:last-child td:last-child {
      border-radius: 0 0 10px 0;
    }
  }
}

.table-tr-th {

  th {
    background-color: #006DB7;
    color: #ffffff;
    font-weight: 100;
    font-family: $lato-bold;
    border: none !important;
    font-size: 14px;
    padding: 14px;
    white-space: nowrap;

    &:first-child {
      border-radius: 5px 0 0 0;
      padding-left: 1.2vw;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
}

.table-buttons {

  a, .btn, button {
    border: none;
    background-color: transparent;
    margin: 0 5px;
    padding: 0;

    &:focus {
      outline: none;
    }

    img {
      max-height: 21px;
      width: 21px
    }
  }
}

.my-pagination {
  margin-top: 10px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    justify-content: center!important;
  }
  .pagination-links{
    margin: 7px 0;
  }
  span {
    color: #6B7083;

    @media (max-width: 500px) {
      &:not(.page-link){
        display: none;
      }
    }
  }

  label {
    color: #6B7083;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  select {
    background-color: #EBEBEB;
    border-radius: 17px;
    color: #6B7083;
    border: none;
    padding: 6px 17px;

    &:focus {
      outline: none;
    }
  }
}

.pagination-links {

  .pagination {
    margin-bottom: 0;
    margin-left: 10px;
    flex-wrap: wrap;
  }
  .page-link {
    line-height: 15px;
    color: black;
    background-color: #ebebeb;
  }
  .page-item.active .page-link {
    background-color: #006db7;
    border-color: #f2f2f4;
  }
  .page-item.disabled .page-link {
    background-color: #f2f2f4;
    border-color: #d6d6d6;
  }

  .page-item {
    border-radius: 50%;
    margin: 3px;

    span {
      border-radius: 5px!important;
      text-align: center;
      padding: .5rem .75rem;
    }
  }

  a {
    border-radius: 5px!important;

    &:hover {
      background-color: #EBEBEB;
    }
    &[aria-label="Next »"], &[aria-label="« Previous"] {
      font-size: 26px;
      line-height: 13px;
    }
  }

}

.blog-page-banner {
  max-width: 1227px;
  margin: 50px auto 0;
  height: 487px;
  @media (max-width: 991px) {
    height: 49vw;
    min-height: 221px;
  }

  .hover-gradient {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 89px;
    bottom: 0;
    z-index: 1;
    padding: 19px 32px 10px;
    opacity: 0;
    transition: 0.8s all;
    min-height: 54px;
    @media (max-width: 767px) {
      padding: 10px 15px;
      height: inherit;
      opacity: 1;
    }
  }

  .hover-gradient:after {
    position: absolute;
    content: '';
    width: 100%;
    background-image: linear-gradient(#006db7, #29ced9);
    height: 100%;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
    opacity: 0.87;
  }

  .blog {
    width: 100%;
    font-family: $lato-bold;
    color: white;

    &:hover .hover-gradient {
      opacity: 1;
      transition: .5s all;

    }

    img {
      object-fit: cover;
    }
  }

  .title {
    font-size: 20px;
    line-height: 24px;
    font-family: $lato-bold;
    letter-spacing: 0.56px;
    margin-bottom: 9px;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .date {
    font-family: $lato;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.6px;
    @media (max-width: 767px) {
      font-size: 14px;

    }
  }

  a {
    font-family: $lato-bold;
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3.56px;
    margin-bottom: 4px;
  }
}

.blog-boxes {
  max-width: 1287px;
  padding: 0 15px 88px;
  margin: 0 auto;
  @media (max-width: 1286px) {
    max-width: 868px;
  }
  @media (max-width: 867px) {
    max-width: 420px;
  }

  h3 {
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0;
  }

  .blog-box {
    max-width: 389px;
    width: 100%;
    margin: 15px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    @media (max-width: 867px) {
      margin: 15px 0;
    }

    &:hover .blog-link {
      transition: .3s all;
      background-image: linear-gradient(to right, #29CED9 44%, #006DB7);
      color: white;
    }

    .blog-link {
      font-family: "lato-black";
      line-height: 15px;
      letter-spacing: 0.6px;
      padding: 10px 22px 11px;
      color: #006DB7;
      font-size: 12px;
      border-bottom: 6px solid;
      border-image: linear-gradient(to right, #29CED9 44%, #006DB7 100%);
      border-image-slice: 1;
      transition: .3s all;
      background-image: linear-gradient(to right, #fff, #fff);
      @media (max-width: 767px) {
        padding: 10px 13px 11px;
      }
    }

    a {
      display: block;
      color: black;
      text-decoration: none;
    }

    .blog-box-img {
      width: 100%;
      height: 218px;
      object-fit: cover;
    }

    .blog-box-text {
      width: 100%;
      transition: .3s all;
      background: white;
      position: relative;
      box-shadow: none;
      border: 1px solid #c3c3c3;
      border-radius: 0 0 3px 3px;
      padding: 0;
      overflow: hidden;
      border-bottom: 0;

      .date {
        font-family: $lato;
        font-size: 14px;
        color: #343434;
        line-height: 17px;
        letter-spacing: 0.6px;
      }

      .title {
        letter-spacing: 0.5px;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 24px;
        font-family: $lato-bold;
        height: 48px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .blog-text {
        font-family: $lato;
        font-size: 16px;
        letter-spacing: 0.6px;
        border-bottom: 1px solid #E3E3E3;
        border-bottom: none;
        line-height: 22px;
        padding: 17px 0;
        height: 65px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 767px) {
          padding: 17px 0 0;
        }

      }
    }
  }

  .blog-box-padding {
    padding: 11px 19px 9px;
    @media (max-width: 767px) {
      padding: 11px 13px 9px;
    }
  }

  .blog-boxes-content {
    padding-top: 34px;
  }
}

.blue-gradient {
  background: linear-gradient(to bottom, #006DB7 33%, #0476BA 57%, #1EB7C1 121%);
  width: 100%;
  height: 26px;
}

.blog-boxes.blog-single {
  margin: 0 0 0 auto;
  @media (max-width: 991px) {
    margin: 0 auto;
    padding: 30px 0 0;
  }

  .blog-box {
    margin: 0 0 20px;
    @media (max-width: 1200px) {
      max-width: 336px;
    }
    @media (max-width: 991px) {
      margin: 15px;
      max-width: 389px;
    }
    @media (max-width: 867px) {
      margin: 15px 0;
    }

    &:hover .blog-link {
      opacity: 1;
      transition: 0.3s all;
      background-image: none;
      color: #006DB7;
    }

    .blog-box-text .title {
      margin-bottom: 5px;
    }

    .blog-link {
      text-align: right;
      padding: 0 12px 12px;
      margin-top: -12px;
      opacity: 0;
      transition: 0.3s all;
      background: transparent;
    }

    .blog-box-text {
      border-bottom: 1px solid #c3c3c3;
    }
  }

  .blog-box-padding {
    padding: 11px 19px 0;
  }
}

.blog-single-page {
  max-width: 1164px;
  width: 100%;
  margin: 0 auto;
  padding: 56px 15px 23px;
  @media (max-width: 767px) {
    padding: 15px 15px 23px;
  }

  .author-section {
    width: 39.2%;
    flex: 0 0 39.2%;
    padding: 0 30px 0 0;
    @media (max-width: 767px) {
      width: 100%;
      padding: 30px 0 0;
    }
  }

  h1 {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 35px;
    letter-spacing: 0;
    @media (max-width: 767px) {
      font-size: 25px;
      line-height: 32px;
    }
  }

  .read {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .post-author {
    font-family: $lato;
    font-size: 16px;
    line-height: 19px;
    color: #1F1F1F;
    padding: 35px 0;
    @media (max-width: 767px) {
      padding: 35px 0 0;
    }

    .post-author-img {
      border: 1px solid #707070;
      border-radius: 50%;
      display: block;
      object-fit: cover;
      width: 83px;
      height: 83px;
      margin-right: 14px;
      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
      }
    }

    .post-info {
      font-size: 16px;
      margin-top: 9px;
      letter-spacing: 0;
    }

  }
}

.blog-single-text {
  max-width: 943px;
  padding: 0 3vw 0 15px;
  margin: 0 auto;

  .blog-content {
    padding: 26px 0 0;
    color: #2B2B2B;

    .share {
      padding-right: 5.7vw;
      padding-top: 8px;

      a {
        display: block;
        margin-bottom: 23px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 50px 0;
    }

    .blog-p {
      letter-spacing: 0;
      font-size: 20px;
      line-height: 30px;
      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 27px;
      }

      p {
        margin-bottom: 29px;
        max-width: 675px;

        &:last-child {
          margin-bottom: 29px;
        }
      }
    }

    .blog-date {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0;
      color: #2B2B2B;
      margin-bottom: 65px;

    }

  }

  .title {
    color: #191919;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 20px;
    letter-spacing: 0;
  }

}

.dont-forget {
  padding-bottom: 45px;

  .title {
    color: #191919;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 20px;
    letter-spacing: 0;
  }

  .share {
    margin: 26px 0;

    a {
      display: inline-block;
      margin: 0 9px;
    }
  }
}

.review-page {
  min-height: calc(100vh - 432px);

  .review-path {
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
  }

  .review-page-content {
    max-width: 1082px;
    margin: 0 auto;
    padding: 40px 15px 53px;
  }

  .title-h1 {
    font-family: $lato-bold;
    letter-spacing: 0.7px;
    line-height: 30px;
  }

  .review {
    .review-img {
      width: 17.7%;;
      flex: 0 0 17.7%;
      margin: 0 15px 50px 0;
      padding-right: 10px;
      min-width: 200px;

      @media (max-width: 575px) {
        text-align: center;
        margin: 0 auto 20px;
        width: 100%;
        padding: 0;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #707070;
        display: block;
        @media (max-width: 575px) {
          margin: 0 auto;
        }
      }
    }

    .review-author {
      color: #006DB7;
      font-family: $lato-bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.4px;
      margin: 17px 0 0;
    }

    .author-position {
      @extend .review-author;
      color: #6F6F6F;
      margin: 8px 0 0;
      letter-spacing: -0.1px;
    }

    .review-text {
      font-family: $lato;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media (max-width: 575px) {
        text-align: center;

      }

      .stars {
        line-height: 11px;
        margin-bottom: 15px;

        img {
          margin-right: 2px;
        }
      }
    }
  }
}

.page-404 {

  img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
  }

  .error-text {
    padding: 3.5vw 15px 23.6vw;
    max-width: 1388px;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 57px 15px 156px;

    }
  }

  .error {
    color: #FF5F6D;
    font-weight: bold;
    font-size: 61px;
    letter-spacing: 0.1px;
    @media (max-width: 767px) {
      font-size: 44px;

    }
  }

  .not-found {
    color: #006DB7;
    font-family: "lato-regular", sans-serif;
    font-size: 32px;
    letter-spacing: 6.7px;
    margin-bottom: 53px;
    @media (max-width: 767px) {
      font-size: 22px;
      letter-spacing: 3.7px;
      margin-bottom: 25px;
    }
  }
}

.blog-boxes.related-articles {
  padding: 0 15px 122px;
}

.btn-danger-2 {
  border-radius: 5px;
  padding: 5px 20px;
  width: 100%;
  font-size: 16px;
}

.profile-img-modal {
  .modal-body {
    height: 250px;
  }
}

label.cabinet {
  display: block;
  cursor: pointer;
  margin-right: 20px;
  height: 60px;
  margin-bottom: 0;

  figure {
    overflow: hidden;
    margin: 0;
  }

  figure:hover{
     figcaption{
      opacity: 1;
    }
  }
}

label.cabinet input.file {
  position: relative;
  height: 100%;
  width: 55px;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top: -30px;
}

#upload-demo {
  padding-bottom: 25px;
}

figure figcaption {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-shadow: 0 0 10px #000;
  background-color: #22C0CB;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
}

.step-container {
  max-width: 1330px;
  padding: 30px 15px 15px;
  margin: 0 auto;
  width: 100%;

  .col-lg-6{

    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .wizard > .actions > ul > li{

    @media (max-width: 767px){
      margin: 5px;
    }
  }
}

.wizard {
  display: flex;
  flex-wrap: wrap;

  > .actions{
    margin-top: 30px;
  }
}

.wizard > .steps {
  width: 350px;
  margin-top: 10px;
  border-right: solid 1px #cacaca;
  padding-right: 30px;

  @media (max-width: 767px) {
    width: 100%;
    border: none;
    padding-right: 0;

    ul {
      flex-direction: row;
      overflow: hidden;
      overflow-x: auto;
      width: 100%;
      white-space: nowrap;
    }
  }
}

.wizard ul, .tabcontrol ul {
  display: flex;
  flex-direction: column;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
  background: #f4f4f6;
  color: #000;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
  background-color: #ffffff;
}

.wizard > .content {
  background-color: #ffffff;
  width: calc(100% - 350px);
  padding-left: 3vw;
  padding-top: 10px;
  margin: 0 0 5px 0;

  @media (max-width: 767px) {
    width: 100%;
    padding-left: 0;
  }
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
  margin: 0 0 5px 0;
  padding: 10px 15px;

  @media (max-width: 767px) {
    padding: 7px;
  }
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  line-height: 1.5;
  font-family: lato-bold, sans-serif;
  font-size: 14px;
  border-radius: 28px;
  min-height: 49px;
  padding: 5px 39px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#006db7), color-stop(51%, #29ced9), to(#006db7));
  background: linear-gradient(90deg, #006db7 0, #29ced9 51%, #006db7);
  -webkit-transition: .5s;
  transition: .5s;
  background-size: 200% auto;

  &:hover {
    background-position: 100%;
  }

  @media (max-width: 991px){
    padding: 5px 30px;
  }
  @media (max-width: 767px) {
    min-height: 40px;
    padding: 5px 25px;
  }
}
.wizard > .actions .skip_div a{
  background: linear-gradient(to right, #D02D3B 0%, #FF5F6D 50%, #D02D3B 100%);
  background-size: 200% auto;
  cursor: pointer;

  &:hover {
    background-position: 100%;
  }
}
.wizard > .actions .disabled a,.wizard > .actions .disabled a:hover{
  background: linear-gradient(to right, #686868 0%, #9D9A9A 50%, #686868 100%);
  background-size: 200% auto;
  color: #fff;

  &:hover {
    background-position: 100%;
    color: #ffffff;
  }
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background-color: #006db7;
  color: #ffffff;
  border-color: #006db7
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
  background-color: #ffffff;
  color: #000000;
  padding-right: 40px;
  position: relative;
}
.wizard > .steps .done .filled:before{
  content: "";
  background-image: url(/img/check.svg);
  width: 20px;
  height: 20px;
  background-size: 20px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 11px;
  top: 12px;

  @media (max-width: 767px){
    right: 10px;
    top: 10px
  }
}
.wizard > .steps > ul > li {
  width: 100%;

  a {
    margin: 0;
    color: black;
    border: solid 1px #cccbcb;
    border-radius: 0;

    &:hover{
      margin: 0;
      border-radius: 0;
    }
  }

  &:first-child a{
   border-radius: 5px 5px 0 0;

    @media (max-width: 767px){
      border-radius: 0;
    }
  }
  &:last-child a{
    border-radius: 0 0 5px 5px;
    @media (max-width: 767px){
      border-radius: 0;
    }
  }
}

.wizard > .content > .body {
  padding: 0;
  width: 100%;

  h3{
    margin-bottom: 25px;
    margin-top: -15px;

    &:empty{
      margin: 0;
    }
  }
}

.resource-container {
  max-width: 1420px;
  padding: 30px 15px 15px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    max-width: 1100px;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    padding: 0;

    .sidebar {
      margin: 50px auto 0;
    }
  }
}

.resource-list-left {
  border-right: solid 1px #cacaca;
  padding-right: 2vw;

  @media (max-width: 767px) {
    width: 46%;
    -webkit-box-flex: 0;
    flex: 0 0 46%;
    position: sticky;
    top: 46px;
    background-color: #fff;
    height: 39vh;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    box-shadow: 16px 0 6px rgba(0, 0, 0, 0.29);
    padding: 10px;
  }
  li {
    margin: 6px 0;
    line-height: 1;

    @media (max-width: 575px) {
      margin: 8px 0;
    }
    &.active a {
      color: $blue;
    }
  }
  a {
    color: black;
    font-size: 16px;
    font-family: $lato-black;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.3;

    &:hover{
      color: $blue;
      text-decoration: none;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
    }
  }
}

.resource-right {

  //@media (max-width: 991px) {
  //  width: calc(100% - 250px);
  //}
  @media (max-width: 767px) {
    height: 39vh;
    overflow: hidden;
    overflow-y: auto;
    width: 54%;
    position: sticky;
    top: 46px;
    background-color: #fff;
    box-shadow: 7px 0 6px rgba(0, 0, 0, 0.29);
    padding: 10px;

    &:nth-child(3){
      width: 95%;
      padding: 0 15px;
      margin: 8px auto 0;
      height: inherit;
      position: static;
      box-shadow: none;
    }
  }
}
.resource-right:last-child ul {
  border-left: solid 1px #cacaca;
  padding-right: 0;

  @media (max-width: 767px){
    border: none;
    padding: 0;
  }
}

.resource-list-right {
  padding-left: 2vw;
  padding-right: 2vw;
  min-width: 200px;

  @media (max-width: 767px){
    min-width: inherit;
    padding: 0;
  }
  a {
    color: black;
    font-size: 16px;
    margin: 6px 0;
    line-height: 1.3;
    display: inline-block;
    font-weight: bold;
    font-family: "lato-black", sans-serif;

    &:hover{
      text-decoration: none;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
    }
  }
  //&:first-child {
  //  margin-top: 20px;
  //
  //  @media (max-width: 575px) {
  //    margin-top: 4px;
  //  }
  //}

  li.active a{
    color: #006db7;
  }
}
.no-sub{

  a{
    text-decoration: underline;
    font-family: "lato", sans-serif!important;

    &:hover{
      text-decoration: underline!important;
    }
  }
}
.new-pagination {

  .page-item.active .page-link {
    background-color: #0068af;
    border-color: #0068af;
  }
}

.sidebar {
  width: 317px;
  flex: 0 0 317px;

  @media (max-width: 400px) {
    width: 290px;
    flex: 0 0 290px;
  }
}

.sidebar-item {
  color: black;
  border: solid 1px #C3C3C3;
  border-radius: 3px;
  margin-bottom: 25px;

  &:hover {
    color: black;
    text-decoration: none;
  }
  h4 {
    font-size: 20px;
    font-family: $lato-bold;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
  img {
    height: 218px;
    object-fit: cover;
  }
}

.sidebar-item-text {
  padding: 13px 19px 17px;

  span {
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}

.drop-group {

  .btn {
    padding: 0.375rem 0.75rem;

    @media (max-width: 575px) {
      font-size: 14px;
    }
  }
  .dropdown-menu {
    border-radius: 15px;
    overflow: hidden;
    min-width: 8.7rem;
    left: inherit !important;
    right: 0;
    transform: none !important;
    top: 100% !important;
    padding: 0.7rem 0;

    img {
      margin-right: 8px;
      width: 15px;
      height: 15px;
    }
    .dropdown-item {
      padding: 0.35rem 1rem;

      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    .dropdown-item.active, .dropdown-item:active {
      color: #fff;
      text-decoration: none;
      background-color: #cacaca;
    }
  }
}

.about-header {
  height: 16vw;
  margin-bottom: 15px;
}

.about-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about-head-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
  color: #ffffff;

  h1 {
    margin-top: 1.55vw;
    font-size: 1.78vw;
    font-family: $lato-bold;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  img {
    width: 18.45%;
  }
}

.about-head-img-1 {
  position: absolute;
  left: 7%;
  top: 50%;
  width: 11.04%;
}

.about-head-img-2 {
  position: absolute;
  right: 4%;
  top: 45%;
  width: 16.6%;
}

.about-container {
  max-width: 1102px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;

  h3 {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: $lato-bold;
    margin-bottom: 36px;
  }

  p {
    line-height: 1.45;
  }
}


.about-slider {
  margin-top: 72px;
  margin-bottom: 68px !important;

  .slick-slide {
    padding: 0;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;

    button {
      width: 10px;
      height: 10px;

      &:before {
        width: 10px;
        height: 10px;
        font-size: 0;
        line-height: 9px;
        opacity: 1;
        border: solid 1px #006db7;
        border-radius: 50%;
        padding: 0;
        background-color: #006db7;
      }
    }
    &.slick-active {

      button:before {
        border-color: #006db7;
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}

.about-slider-block {
  width: 32%;
  border-radius: 10px;
  border: solid 1px #C1C1C1;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 15px 23px;

  @media (max-width: 575px) {
    width: 48%;
  }
  p {
    font-size: 14px;
    line-height: 1.6;
    height: 70px;
    margin: 10px 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */

    @media (max-width: 575px) {
      line-height: 1.22;
    }

  }
  img {
    margin: auto;
    max-width: 100%;
  }
}

.search-select-form {

  .form-group select {
    max-width: 250px;
    padding: 8px 40px 8px 8px;

    @media (max-width: 767px){
      max-width: inherit;
    }
  }

  @media (max-width: 991px) {
    .form-group select {
      height: 40px;
    }
    .form-group .control-label {
      top: 10px;
    }
  }

  @media (max-width: 767px){
    width: 100%;

    .profile-search-form{
      max-width: inherit;
      width: 100%;
      margin-right: 0!important;
      margin-bottom: 20px;
    }
    .form-group{
      width: 100%;
    }
  }
}


.contact-container {
  max-width: 1244px;
  margin: 0 auto;
  padding: 50px 15px 45px;
}

.contact-left {
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
  }
  h1 {
    font-family: $lato-bold;
    font-size: 34px;
    color: black;
    margin-bottom: 17px;
  }
  h1 + p {
    font-size: 20px;
    margin-bottom: 51px;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}

.contact-form {
  width: 45.9%;
  position: relative;
  min-width: 500px;
  margin-top: -21px;

  @media (max-width: 991px) {
    margin-top: 0;
  }
  @media (max-width: 575px) {
    width: 100%;
    min-width: inherit;
  }
  form {
    position: absolute;
    top: 11.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 74%;

    textarea {
      resize: none;
    }
  }
}

.address-item {
  margin-bottom: 23px;

  img {
    margin-right: 17px;
    width: 30px;
    max-height: 37px;

    @media (max-width: 575px) {
      width: 24px;
      max-height: 27px;
      margin-right: 10px;
    }
  }
  a, span {
    color: #2B2B2B;
    font-size: 20px;

    @media (max-width: 575px) {
      font-size: 15px;
    }
  }
  a:hover {
    text-decoration: none;
    color: #006db7;
  }
}

.contact-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.company-page {
  min-height: calc(100vh - 432px);

  .company-page-content {
    max-width: 965px;
    margin: 0 auto;
    padding: 26px 15px 53px;

    >img{
      max-width: 200px;
    }
    h4 {
      font-family: $lato-bold;
      font-size: 16px;
      margin-bottom: 25px;
      color: #020202;
    }
  }
}

.company-bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.company-address {

  span {
    margin-bottom: 6px;

    a {
      color: black;
    }
    b {
      color: $blue;
      margin-right: 5px;
    }
  }
}

.company-work {
  background-color: #ffffff;
  border: solid 1px #D4D4D4;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 48%;
  color: #343434;
  padding: 10px 24px 10px 20px;
  font-family: $lato-bold;

  &:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }

  @media (max-width: 575px) {
    width: 100%;
  }
  p {
    margin: 0;
  }

  > div {
    color: #343434;
    span {
      font-size: 14px;
    }
  }
}

.learn-span {
  color: $blue;
  font-size: 12px;
  font-family: $lato-black;
  white-space: nowrap;
}



.cv-page {
  padding: 50px 15px;
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 1420px) {
    max-width: 1200px;
  }
  .display {
    display: none;
  }
  .cv-head {
    font-size: 14px;
    padding-bottom: 40px;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .info-section {
    padding: 0 0 10px;
    > div {
      padding: 0 10px;
    }
    .cv-title {
      color: white;
      background-color: $blue;
      padding: 5px 15px;
      font-family: $lato-bold;
      font-size: 16px;
    }
  }
  .bold-text {
    font-family: $lato-bold;
  }
  .cv-img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
  .language-table {
    @media (max-width: 767px) {
      table-layout: inherit;
    }
    th {
      font-family: $lato-bold;
      background: #f2f2f4;
      padding: 0 15px;
      white-space: nowrap;
    }
    td {
      padding: 0 15px;
    }

  }
  .white-space {
    white-space: nowrap;
  }
  .info-table {
    td {
      @media (max-width: 575px) {
        float: left;
        width: 100%;
        text-align: left !important;
        &:first-child {
          font-family: $lato-bold;
        }
      }
    }
  }
  @media print {
    .cv-page {
      padding: 0;
    }
    .print {
      display: none;
    }
    .display {
      display: block;
    }
    h3 {
      text-align: left;
    }
    .info-section {
      .cv-title {
        color: black;
        font-size: 18px;
        padding: 5px 10px;
      }
    }
    .info-table {
      td {
        float: left;
        text-align: left !important;
      }
    }
  }
}

.input-file-img {

  img {
    border-radius: 5px;
    max-width: 100%;
  }
  .btn {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    min-height: inherit;
  }
}

.static-container {
  max-width: 1065px;
  margin: 0 auto;
  padding: 50px 15px 25px;
}

@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
    background-image: url('https://maxcdn.icons8.com/Share/icon/Arrows//expand_arrow1600.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right 5px;
    padding-right: 25px !important;
  }
}

.jobs-img {

  &:hover {
    text-decoration: none;
  }

  img {
    width: 110px;
    height: 90px;
    margin: 7px 6px 7px 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    padding: 4px;
    background-color: #0069b0;
  }
}
.jobs-img-file{
  display: block;
  vertical-align: top;
  margin: 7px 6px 7px 0;
  border-radius: 5px;

  a{
    display: inline-flex;
    align-items: center;
    color: black;
    line-height: 1;

    &:hover{
      color: black;
    }
  }
  span{
    font-size: 13px;
    margin-top: 2px;
    display: block;
  }
}

.jobs-img-description{
  display: inline-block;
  border-radius: 5px;
  margin: 7px 6px 7px 0;

  &:hover{

  }
  span{
    font-size: 13px;
    margin-left: 10px;
    vertical-align: top;
    color: black;
  }
  img{
    padding: 0;
    margin: 0;
  }
}


#success_tic .page-body,
.success-modal .page-body{
  max-width: 300px;
  background-color: #FFFFFF;
  margin: 10% auto;
}

#success_tic .page-body .head,
.success-modal .page-body .head {
  text-align: center;
}

#success_tic .close,
.success-modal .close {
  opacity: 1;
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}

#success_tic .checkmark-circle,
.success-modal .checkmark-circle {
  width: 130px;
  height: 130px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.checkmark-circle .background {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #22c0cb;
  position: absolute;
  left: 0;
}

#success_tic .checkmark-circle .checkmark,
.success-modal .checkmark-circle .checkmark {
  border-radius: 5px;
}

#success_tic.show .checkmark-circle .checkmark.draw:after,
.success-modal.show .checkmark-circle .checkmark.draw:after {
  animation-delay: 300ms;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  animation-fill-mode: forwards;
}

#success_tic.show .checkmark-circle .checkmark:after,
.success-modal.show .checkmark-circle .checkmark:after {
  opacity: 0;
  height: 75px;
  width: 37.5px;
  transform-origin: left top;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 2.5px !important;
  content: '';
  left: 28px;
  top: 70px;
  position: absolute;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}





/*Mobile View*/
.mobile-table{
  @media (max-width: 767px){
    &.my-table-2 td:last-child{
      text-align: inherit;
      border-right: none;
      padding: .4rem 0.75rem;
    }
    td, tr {
      display: block;

      .btn,button{
        display: block;
        width: 100%;
        margin-bottom: 5px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    tr{
      margin-top: 20px;

      &:hover{
        background-color: transparent!important;

        td{
          background-color: #ffffff!important;
        }
      }
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 10px 5px 10px 45%!important;
      text-align: left;
      border-radius: 6px!important;
      width: 100%!important;
      line-height: 1.2;
      word-break: break-word!important;
      font-size: 13px!important;
      min-height: 40px;

      *{
        display: inline-block!important;
      }
    }
    td:before {
      content: attr(data-label);
      display: inline-block;
      margin-left: -80%;
      width: 80%;
      font-family: lato-bold;
      font-weight: bold;
      padding-right: 10px;
      word-break: initial!important;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .contact-message-text{
    display: inline-block;
    width: 15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.filter-div{

  @media (max-width: 767px) {

    .form-group{
      width: 100%;
      margin-bottom: 16px!important;
      margin-right: 0!important;
    }
    .profile-search-form{
      max-width: inherit;
      width: 100%;
    }
  }
}
.edit-field{
  background-color: #006DB7;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 17px;
  margin-bottom: 10px;
  align-items: center;

  &:last-of-type{
    margin-bottom: 30px;
  }
  span{
    padding: 3px 7px;
    cursor: pointer;
  }
}
.view-cv{
  color: #0EB498;
  text-decoration: underline;
  font-size: 14px;
  font-family: lato-black;
  cursor: pointer;
}
.btn-view-cv{
  color: #0EB498;
  padding-left: 0;
  text-decoration: underline;
  font-size: 14px;
  font-family: lato-black;

  &:hover{
    color: #0EB498;
  }
}
.pdf-down{
  font-size: 10px;
  color: #22c0cb;
  text-align: center;

  &:hover{
    color: #22c0cb;
  }
}
.applier-table{
  max-width: 750px;

  td{
    padding: 4px 15px;
    vertical-align: top;

    @media (max-width: 767px) {
      padding: 3px 10px;
      font-size: 14px;
    }
    &:first-child{
      padding-left: 0;
      white-space: nowrap;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  .form-group select{
    height: inherit;
    width: inherit;
    border-color: #d5d5d5;
    padding: 7px 40px 7px 10px;
    background-position: calc(100% - 24px) calc(1em + -2px), calc(100% - 19px) calc(1em + -2px), calc(100% - 2.5em) 0.5em;

    &:focus{
      background-position: calc(100% - 15px) 12px, calc(100% - 22px) 12px, calc(100% - 2.5em) 0.5em;
      border-color: grey;
    }
  }
}
.notif-cv{
  font-size: 14px;
  white-space: nowrap;

  &:hover{
    color: #013e80;
    text-decoration: none;
  }
  span{
    margin-left: 5px;
    font-size: 12px;
    color: #fe616b;
  }
}
#applicant-modal{

  .modal-dialog{
    max-width: 550px;
  }
  .modal-body{
    max-width: 490px;
    margin: 15px auto;
    width: 100%;
  }
}

.form-group .select2-container .select2-selection--single{
  height: 49px;
  outline: none;
}
.form-group .select2-container--open.select2-container .select2-selection--single{
  border-color: #006DB7;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 49px;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 41px;
  right: 4px;
}

.new-table{

  @media (min-width: 768px) {
    height: calc(100vh - 250px);

    th{
      position: sticky;
      top: 0;
      padding: 14px 10px 14px 10px;
    }
  }

  .form-group select{
    height: inherit;
    font-size: 14px;
    padding: 0 0 0 20px;
    background-color: transparent;
    color: #ffffff;
    background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%), linear-gradient(135deg, #ffffff 50%, transparent 50%);
    background-position: 0px 7px, 7px 7px, 13px 6.5em;
    border: none;

    option{
      color: black;
    }
  }
  th{
    .form-group{

    }
  }
  tbody td{
    vertical-align: middle;
  }
}

@media (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
  ::-webkit-scrollbar-button {
    height: 0;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: #666;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #989898;
  }
}


.form-group{

  textarea{
    line-height: 1.5;
  }
}


.static-date{
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
  }
  span{
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 10px;
    color: #565656;

    @media (max-width: 767px){
      font-size: 13px;
      margin-left: 0;
    }
  }
}

.permissions-container{
  max-width: 900px;
  .checkbox{
    width: 50%;
    margin-bottom: 10px;

    @media (max-width: 575px){
      width: 100%;
    }
    label{
      display: inline-block;
    }
  }
}

.job-file-upload{
  width: 100%;
  border: solid 1px #989797;
  padding: 10px;
  border-radius: 5px;

  .btn-danger{
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 5px 20px;
    border-radius: 0 5px 0px 0;
    min-height: 40px;
  }
}
.job-file-upload-img{
  min-height: 25px;
  display: inline-block;
  margin-bottom: 15px;
  max-width: calc(100% - 50px);
  color: #22c0cb;

  &:hover{
    text-decoration: none;
    color: #16828a;
  }
}
.job-file-image{
  max-width: 160px;
  border-radius: 5px;
  max-height: 100px;
}
.job-file-upload-add{
  border: solid 1px #989797;
  padding: 15px 10px 0;
  border-radius: 5px;
  margin-bottom: 15px;

  .form-group{
    margin-bottom: 10px;
  }
  .btn-danger{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px;
    border-radius: 0 5px 0 0;
    min-height: 40px;
  }
  input[type="file"]{
    border: solid 1px #ffffff;
    min-height: 40px;
    max-width: calc(100% - 50px);
    padding-left: 0;
  }
}



/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #006db7;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #006db7;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #006db7;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #006db7;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #006db7;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}
[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}



.tooltip-img-table{
  display: block;
  line-height: 0;

  @media (max-width: 767px) {

    &[tooltip][flow^="right"]::before {
      top: 100%;
      border-top-width: 0;
      border-bottom-color: #006db7;
      border-left-width: initial;
      border-right-color: transparent;
      right: 0;
    }
    &[tooltip][flow^="right"]::after {
      top: calc(100% + 5px);
    }
    &[tooltip][flow^="right"]::before,
    &[tooltip][flow^="right"]::after {
      left: 50%;
      transform: translate(-50%, .5em);
    }

    @keyframes tooltips-horz {
      to {
        opacity: .9;
        transform: translate(-50%, 0);
      }
    }
  }
}


.select-width{
  width: 105px;

  &:lang(ru),
  &:lang(hy){
    width: 160px;

    @media (max-width: 370px) {
      width: 137px;
    }
  }
}
.job-tel{

  + a{
    &:before{
      content: ",";
      margin-right: 4px;
      margin-left: -4px;
    }
  }

}
.max-850{
  max-width: 850px;
}

.resource-status-select{
  width: 110px;

  &:lang(ru){
    width: 170px;
  }
  &:lang(hy){
    width: 140px;
  }
}


.body-ie{
  .left-menu{
    height: 100%;
  }

  a.btn{
    line-height: 39px;
  }
  select::-ms-expand {
    display: none;
  }
  select:focus::-ms-value {
    color: black;
    background: transparent;
  }
  .job-item-info-text{
    width: 270px;
  }
}

.show_hide_password{

  input{
    padding-right: 40px;
  }

  a{
    position: absolute;
    right: 13px;
    top: 12px;
    color: #686868;

    &:hover{
      text-decoration: none;
    }
  }
}

.job-view-count{
  font-size: 12px;
  top: 7px;
  margin-left: auto;
  margin-right: 13px;

  @media (max-width: 767px){
    top: 5px;
    position: absolute;
    right: 0;
  }
  &[tooltip][flow^=left]::after{
    top: -22px;
    right: 0;
    font-size: 14px;
    background: #ff626c;

    @media (max-width: 767px) {
      top: -30px;
      right: -20px;
      font-size: 14px;
      left: inherit;
      -webkit-animation: none;
      animation: none;
      opacity: 1;
      width: 90vw;
      white-space: normal;
      max-width: 450px;
      padding: 1ch 1ch;
    }
  }

  &[tooltip][flow^=left]::before{
    border-color: #ff616c transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    top: -5px;
    left: 0;

    @media (max-width: 767px){
      display: none;
    }
  }
}

.triangle-right{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #E61A3F;
  margin-right: 10px;
  margin-top: 5px;
  display: none;
}

.job-left-list{
  height: auto;
  overflow: visible;

  @media (max-width: 767px){
    height: 40vh;
    overflow-x: hidden;
  }
  .triangle-right{
    display: block;
  }
  picture, .job-item-info-date{
    display: none!important;
  }
  .job-item{
    border: none;
    align-items: self-start;
    height: initial;
    margin-bottom: 8px;

    &:hover{
      box-shadow: none;
      color: #006DB7;
    }
    &.job-item-active{
      box-shadow: none;
    }
  }
  .job-item-info{
    width: 100%;
    border: none;
    padding: 0;
  }
}

.body-list{

  .job-right-title{
    position: relative;

    @media (max-width: 767px){
      position: sticky;
    }
  }
}
.change-jobs-style,.change-jobs-style-old{
  position: absolute;
  top: -43px;
  left: 15px;
  cursor: pointer;
  display: block;
  line-height: 1;

  @media (min-width: 768px) and (max-width: 991px){
    top: -32px;
  }
  @media (max-width: 767px) {
    position: fixed;
    top: 14px;
    left: 200px;
    z-index: 9;
  }
}
.change-jobs-style-old{
  left: 40px;
  top: -42px;

  @media (min-width: 768px) and (max-width: 991px){
    top: -31px;
  }
  @media (max-width: 767px){
    top: 15px;
    left: 228px;
  }
}
.change-jobs-disabled{
  opacity: .5;
  pointer-events: none;
}
.job-logo{
  margin-top: 20px;
  max-width: 150px;
}

.open-search{
  display: none;
  position: absolute;
  right: 16%;
  top: 85px;
  background-color: #006db7;
  padding: 3px 6px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  
  @media (max-width: 1199px) {
    top: 62px;
  }
  @media (max-width: 991px) {
    top: 46px;
  }
}

.close-search{
  display: none;
  position: absolute;
  right: 20px;
  z-index: 2;
  top: 10px;
  cursor: pointer;

  @media (max-width: 991px) {
    right: 7px;
    top: 1px;
  }
}
.menu-list{
  transition: all .5s;

  @media (min-width: 768px) {
    .open-search{
      display: block;
    }
    .close-search{
      display: block;
    }
    .job-search-header{
      transition: all .5s;
      top: 0;
      z-index: 0;
    }
    .job-search-header:not(.job-search-header-opened){
      top: -200px;
      margin-bottom: -50px;
      transition: all .5s;
    }
  }

  @media (min-width: 1320px) {
    .job-container{
      max-width: inherit;
    }
    .job-left-list{
      max-width: 513px;
    }
    .job-right{
      width: calc(100% - 520px);
      max-width: inherit;
    }
  }

}