.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.my-navbar {
  max-width: 1425px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    min-height: 86px;
  }

  @media (max-width: 1199px) {
    padding: 0.5rem 0;

    .navbar-collapse {
      margin-top: 10px;
      height: calc(100vh - 56px);
      z-index: 9999;
      position: relative;
      overflow-y: auto;
    }
  }
  .navbar-brand {
    margin-right: 3.25rem;

    @media (max-width: 1199px){
      padding-left: 15px;
    }
    &:lang(ru),
    &:lang(hy){
      margin-right: 1rem;
    }
    @media (min-width: 1200px) and (max-width: 1299px) {
      margin-right: 1rem;

      img{
        width: 160px;
      }
    }
    @media (max-width: 991px) {
      padding: 0 0 0 15px;

      img {
        width: 160px;
      }
    }
  }
  .navbar-nav {

    @media (max-width: 1199px) {
      border-bottom: solid 1px #c5c5c5;
      border-top: solid 1px #c5c5c5;
      background-color: rgb(245, 245, 245);
      padding: 10px 0;

      .nav-item {
        padding: 3px 0;
      }
      .nav-item.drop-lang {
        width: 50px;
      }
    }
    .nav-link {
      color: #000000;
      letter-spacing: .5px;
      padding: 8px 12px;
      white-space: nowrap;

      &:hover, &.active {
        color: #006DB7;
      }
      &:lang(ru),
      &:lang(hy){
        font-size: 15px;
        padding: 4px 12px;

        @media (max-width: 1199px) {
          font-size: 18px;
        }
        @media (max-width: 575px) {
          font-size: 17px;
        }
      }
      @media (min-width: 1200px) and (max-width: 1299px) {
        padding: 8px 10px;
      }
      @media (max-width: 1199px) {
        padding: 8px 20px !important;
        font-size: 18px;

        &.dropdown-toggle{
          justify-content: center;
        }
      }
      &#language-Drop{
        img{
          width: 18px;
        }
      }
    }
    .nav-btn {
      background: linear-gradient(to right, #f3994b 0%, #ff5f6d 50%, #f3994b 100%);
      transition: 0.5s;
      background-size: 200% auto;
      color: #ffffff;
      font-size: 14px;
      font-family: $lato-bold;
      border-radius: 25px;
      padding: 5px 19px;
      margin: 0 8px 0 18px;

      @media (max-width: 575px){
        margin: 0;
      }
      &:hover {
        background-position: right center;
        color: #ffffff;
      }
    }
    .nav-item {

      &.nav-item-line {

        &:after {
          content: "";
          border-left: solid 1px;
          position: absolute;
          left: 0;
          width: 1px;
          height: 14px;
          top: 13px;

          @media (max-width: 1199px) {
            display: none;
          }
        }
        &:lang(hy):after,&:lang(ru):after{
          top: 9px;
        }
      }
    }
    .nav-item.dropdown {

      .dropdown-toggle::after {
        display: none;
      }
      .dropdown-menu{

        @media (max-width: 575px) {

          &:lang(ru),
          &:lang(hy){

            .dropdown-item{
              font-size: 14px;
            }
          }
        }
      }
    }
    .dropdown-menu {
      min-width: 120px;

      @media (max-width: 1199px) {
        min-width: 115px;
        position: relative;
        right: 0;
        margin-bottom: 10px;
        .nav-link{
          font-size: 16px;
        }
      }
    }
  }

}

/*burger*/
#nav-icon3 {
  width: 30px;
  height: 18px;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #006db7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
  width: 50%;
  right: 0;
  left: inherit;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
  width: 50%;
}

.navbar-toggler[aria-expanded="true"] {
  z-index: 2;
  padding: 1px 6px;

  @media (min-width: 1200px) {
    display: none;
  }
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
}

.navbar-toggler {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
  padding: 1px 6px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.navbar-toggler:focus {
  outline: none;
}

/*end burger*/

.my-footer {
  background: linear-gradient(0deg, #00375C, #006DB7);
  color: #ffffff;

  @media (max-width: 767px) {
    position: relative;
    z-index: 4;
  }
}

.footer-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 26px 15px 30px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1450px){
    max-width: 1150px;

    &:lang(ru),
    &:lang(hy){
      max-width: inherit;
    }
  }


  @media (max-width: 1199px) {
    padding: 2.65rem 15px 4.5rem;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    padding: 1.65rem 15px 1.5rem;
    max-width: 540px;

    &:lang(ru),
    &:lang(hy){
      max-width: 750px;
    }
  }
  @media (max-width: 575px) {
    flex-direction: column;
  }
  &:lang(ru),
  &:lang(hy){
    max-width: 1500px;

    @media (min-width: 768px) and (max-width: 1199px){
      padding: 1.65rem 15px 1.5rem;
      max-width: 750px;
    }
    @media (max-width: 767px){
      max-width: 410px;
    }
  }
}

.logo-form {
  margin-right: auto;
  width: 430px;

  &:lang(ru),
  &:lang(hy){
    width: 400px;

    @media (min-width: 768px) and (max-width: 1199px) {
      order: -1;
      margin-left: 1.4vw;
      width: 430px;
    }
    @media (max-width: 767px){
      width: 100%;
    }
  }
  @media (max-width: 1199px) {
    width: 390px;
  }
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.community-form {
  margin-bottom: 36px;

  &:lang(ru),
  &:lang(hy){
    @media (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}

.footer-logo {
  color: #ffffff;
  font-size: 27px;

  @media (max-width: 400px) {
    font-size: 20px;
  }
  &:hover {
    text-decoration: none;
    color: #e1e1e1;
  }
  img {
    width: 230px;
    margin-right: 5px;

    @media (max-width: 400px) {
      margin: 0 auto 16px;
      display: block;
    }
  }
}

.footer-form {
  padding-top: 2.1vw;
  margin-top: 17px;
  border-top: solid 1px #388dc7;

  @media (max-width: 575px) {
    padding-top: 20px;
  }
  .form-control, .btn {
    height: 49px;
    border: none;

    @media (max-width: 575px) {
      height: 40px;
    }
  }
  .mail-label {
    flex: 1;

    input {
      border-radius: 28px 0 0 28px;
      padding-left: 25px;
    }
  }
  .btn {
    padding: 0.5rem 43px;
    background: linear-gradient(to right, #f3994b 0%, #ff5f6d 50%, #f3994b 100%);
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 0 28px 28px 0;
    white-space: nowrap;

    &:hover {
      background-position: right center;
    }
    &:lang(hy){
      padding: .5rem 20px .5rem 15px;
    }
    &:lang(ru){
      padding: .5rem 30px;
    }
    @media (max-width: 575px) {
      padding: 0.5rem 15px;
    }
  }
}

.links-title {
  margin-bottom: 22px;

  &:lang(ru),
  &:lang(hy){
    font-size: 15px;

    @media (max-width: 991px){
      font-size: 14px;
    }
    @media (max-width: 767px){
      margin-bottom: 10px;
    }
  }
  @media (max-width: 575px) {
    margin-bottom: 5px;
  }
}

.nav-user-drop {

  img {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
  .dropdown-toggle {

    span {
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.cta {
  position: relative;
  margin-right: 15px;
}

.cta .arrow-f {
  left: 0;
}

.arrow-f {
  position: absolute;
  bottom: 0;
  margin-left: 0;
  width: 6px;
  height: 6px;
  background-size: contain;
  top: 7px;
}

.segunda {
  margin-left: 4px;
}

.next-f {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow-f.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.footer-links ul a:hover .arrow-f {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.footer-links ul a:hover .arrow-f.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;

  &:lang(ru),
  &:lang(hy){
    @media (max-width: 1199px) {
      margin-top: 40px;
    }
    @media (max-width: 767px){
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
    }
  }
  @media (max-width: 575px) {
    flex-direction: column;
  }
  ul {
    list-style: none;
    color: #ffffff;
    margin: 0 1.65vw;
    padding: 0;
    line-height: 1.65;
    white-space: nowrap;
    &:lang(ru),
    &:lang(hy){
      margin: 0 1.4vw;

      @media (max-width: 767px){
        margin: 0 0 20px;
      }
      &:last-child {
        margin-right: 0;
        @media (max-width: 1199px) {
          margin: 0 1.65vw;
        }
        @media (max-width: 767px){
          margin: 0;
        }
      }
    }


    @media (max-width: 991px) {
      margin-left: 0;
      margin-right: 20px;
    }
    @media (max-width: 575px) {
      margin: 0 0 15px 0;
    }
    @media (min-width: 2000px) {
      margin: 0 15px;
    }
    a {
      color: inherit;
      font-size: 16px;
      position: relative;
      margin-bottom: 3px;
      display: inline-block;

      &:lang(ru),
      &:lang(hy){
        font-size: 15px;

        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
      @media (max-width: 1024px) {
        font-size: 14px;
      }
      &:hover {
        color: #29ced9;
        text-decoration: none;
      }
    }
  }
}

.footer-social {
  white-space: nowrap;
  margin-bottom: auto;
  margin-top: 1.2vw;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin-left: auto;
  }
  a {
    color: #fff;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #29ced9 !important;
      transition: all .2s;
      text-decoration: none;
    }
  }
  img, svg path {
    width: 27px;
    height: 20px;
    fill: currentColor;

    .a {
      fill: currentColor;
    }
    @media (max-width: 1024px) {
      width: 25px;
      height: 20px;
    }
  }
}

.footer-address {
  margin-top: 3px;
  max-width: 292px;
  margin-left: auto;

  @media (max-width: 1199px) {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 0;
    width: 100%;
  }
  @media (max-width: 991px) {
    margin-left: 0;
  }
  @media (max-width: 575px) {
    width: inherit;
  }
  &:lang(ru),
  &:lang(hy){
    @media (min-width: 768px) and (max-width: 1199px) {
      order: -1;
      margin-right: 1.4vw;
      margin-left: auto;
      text-align: right;
      width: inherit;
      margin-top: 53px;

      .footer-social{
        justify-content: flex-end;
      }
    }
  }
  address {
    color: #ffffff;
    font-size: 14px;

    img {
      margin-right: 10px;
      margin-top: 5px;
    }
    a {
      color: #ffffff;
    }
  }
  ul {
    list-style: none;
  }
}

.copyright {
  margin-top: 46px;

  &:lang(ru),
  &:lang(hy){
    @media (min-width: 768px) and (max-width: 1199px) {
      padding: 0 1.4vw;
    }
  }
}

.copyright-item {

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;

    > span {
      margin-bottom: 15px;
    }
  }
}

.aist-block {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
}

.aist-block span {
  padding-right: 19px;
  letter-spacing: 0.3px;
}

.aist-block:hover {
  color: #FFC400;
  text-decoration: none;
  transition: color 0.3s;
}

.aist-block:hover svg path {
  fill: #FFC400;
  transition: fill 0.5s;
}

.footer-link-plus{
  background-color: #f3a35c;
  width: 13px;
  height: 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  color: #fff;
}
